<section class="recipes-tags">
  <div class="recipes-tags__card tag-card">
    <div class="tag-card__icon">
      <div class="icon-simple-menu"></div>
    </div>
    <h2 class="tag-card__name">Простые блюда</h2>
  </div>
  <div class="recipes-tags__card tag-card">
    <div class="tag-card__icon">
      <div class="icon-kids-menu"></div>
    </div>
    <h2 class="tag-card__name">Детское</h2>
  </div>
  <div class="recipes-tags__card tag-card">
    <div class="tag-card__icon">
      <div class="icon-shef-menu"></div>
    </div>
    <h2 class="tag-card__name">От шеф-поворов</h2>
  </div>
  <div class="recipes-tags__card tag-card">
    <div class="tag-card__icon">
      <div class="icon-holiday-menu"></div>
    </div>
    <h2 class="tag-card__name">На праздник</h2>
  </div>
</section>
