  <section class="intro">
    <div class="main-img"></div>
    <h1 class="intro-application__inscription">Готовь и делись рецептами</h1>
    <p class="intro-application__description">Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте</p>
    <button class="intro-application__add-recipe-btn add-recipe-btn">
      <a class="add-recipe-btn__link" [routerLink]="['/']"><span class="plus-icon"></span> Добавить рецепт</a>
    </button>
    <button class="intro-application__come-in-btn come-in-btn">Войти</button>
  </section>

  <tags-sort></tags-sort>
  <day-recipe></day-recipe>
  <search-for-recipe></search-for-recipe>
