* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

button {
  border: none;
}

a:hover {
  text-decoration: none;
}

.main-img {
  width: 602px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('img/Rectangle.png');
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 200px;
  z-index: -1;
}

.intro {
  margin-top: 138px;
  margin-bottom: 352px;
  padding: 0;
  max-width: 688px;
  background: #FEFEFB;
}

.intro-application__inscription {
  width: 100%;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  color: #25292D;
}

.intro-application__description {
  margin: 0;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 28px;
  color: #4A525A;
}

.plus-icon {
  margin-right: 23px;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url('img/white_plus.png');
}

.intro-application__add-recipe-btn {
  margin-right: 24px;
}

.add-recipe-btn {
  padding: 16px 35px 16px 39px;
  background: #FDB100;
  border-radius: 16px;
}

.add-recipe-btn__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.come-in-btn {
  padding: 16px 78px;
  border: 1px solid #FDB100;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FDB100;
  background: transparent;
}


