<section class="recipes-search">
  <div class="recipes-search__content-container search-by-tags">
    <h2 class="recipes-search__header">Поиск рецепта</h2>
    <form action="" class="search-by-tags__form search-form">
      <input type="text" placeholder="Название блюда..." class="search-form__input">
      <button type="submit" class="search-form__btn">Поиск</button>
    </form>
  </div>
  <ul class="search-by-tags__list list-link">
    <li class="list-link__item item"><a href="" class="item__link">мясо</a></li>
    <li class="list-link__item item"><a href="" class="item__link">деликатесы</a></li>
    <li class="list-link__item item"><a href="" class="item__link">пироги</a></li>
    <li class="list-link__item item"><a href="" class="item__link">рыба</a></li>
    <li class="list-link__item item"><a href="" class="item__link">пост</a></li>
    <li class="list-link__item item"><a href="" class="item__link">пасха 2021</a></li>
  </ul>
</section>
