<section class="tags-sort">
  <h1 class="tags-sort__header">Умная сортировка по тегам</h1>
  <p class="tags-sort__caption">Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.</p>
  <div class="tags-sort__cards-container cards-container">
    <div class="cards-container__card tag-card">
      <div class="tag-card__icon">
        <div class="icon-simple-menu"></div>
      </div>
      <h2 class="tag-card__name">Простые блюда</h2>
      <p class="tag-card__description">Время приготвления таких блюд не более 1 часа</p>
    </div>
    <div class="cards-container__card tag-card">
      <div class="tag-card__icon">
        <div class="icon-kids-menu"></div>
      </div>
      <h2 class="tag-card__name">Детское</h2>
      <p class="tag-card__description">Самые полезные блюда, которые можно детям любого возраста</p>
    </div>
    <div class="cards-container__card tag-card">
      <div class="tag-card__icon">
        <div class="icon-shef-menu"></div>
      </div>
      <h2 class="tag-card__name">От шеф-поваров</h2>
      <p class="tag-card__description">Требуют умения, времени и терпения, зато как в ресторане</p>
    </div>
    <div class="cards-container__card tag-card">
      <div class="tag-card__icon">
        <div class="icon-holiday-menu"></div>
      </div>
      <h2 class="tag-card__name">На праздник</h2>
      <p class="tag-card__description">Чем удивить гостей, чтобы все были сыты за праздничным столом</p>
    </div>
  </div>
</section>
