<section class="search-for-recipe">
  <h1 class="search-for-recipe__header">Поиск рецептов</h1>
  <p class="search-for-recipe__caption">Введите примерное название блюда, а мы по тегам найдем его</p>
  <form action="" class="search-for-recipe__form search-form">
    <input type="text" placeholder="Название блюда..." class="search-form__input">
    <button type="submit" class="search-form__btn">Поиск</button>
  </form>
  <ul class="search-for-recipe__list list-link">
    <li class="list-link__item item"><a href="" class="item__link">Мясо</a></li>
    <li class="list-link__item item"><a href="" class="item__link">Деликатесы</a></li>
    <li class="list-link__item item"><a href="" class="item__link">Пироги</a></li>
    <li class="list-link__item item"><a href="" class="item__link">Рыба</a></li>
  </ul>
</section>
