<div class="ingridients">
  <h1 class="ingridients__header">Ингридиенты</h1>
  <h2 class="ingridients__subtitle">Для панна котты</h2>
  <ul class="ingridients__list ingridients-list">
    <li class="ingridients-list__item">Сливки 20-30% - 500мл.</li>
    <li class="ingridients-list__item">Молоко - 100мл.</li>
    <li class="ingridients-list__item">Желатин - 2ч.л.</li>
    <li class="ingridients-list__item">Сахар - 3ст.л.</li>
    <li class="ingridients-list__item">Ванильный сахар - 2ч.л.</li>
  </ul>
  <h2 class="ingridients__subtitle">Для клубничного желе</h2>
  <ul class="ingridients__list ingridients-list">
    <li class="ingridients-list__item">Сливки 20-30% - 500мл.</li>
    <li class="ingridients-list__item">Молоко - 100мл.</li>
    <li class="ingridients-list__item">Желатин - 2ч.л.</li>
    <li class="ingridients-list__item">Сахар - 3ст.л.</li>
    <li class="ingridients-list__item">Ванильный сахар - 2ч.л.</li>
  </ul>
</div>
