<section class="recipe-steps">
  <ul class="recipe-steps__list steps-list">
    <li class="steps-list__item step-card">
      <p class="step-card__content">Приготовим панна котту: Зальем желатин молоком и поставим на 30 минут для набухания. В сливки добавим сахар и ванильный сахар. Доводим до кипения (не кипятим!).</p>
    </li>
    <li class="steps-list__item">
      <p class="step-card__content">Добавим в сливки набухший в молоке желатин. Перемешаем до полного растворения. Огонь отключаем. Охладим до комнатной температуры.</p>
    </li>
    <li class="steps-list__item">
      <p class="step-card__content">Разольем охлажденные сливки по креманкам и поставим в холодильник до полного застывания. Это около 3-5 часов.</p>
    </li>
    <li class="steps-list__item">
      <p class="step-card__content">Приготовим клубничное желе: Клубнику помоем, очистим от плодоножек. Добавим сахар. Взбиваем клубнику с помощью блендера в пюре.</p>
    </li>
    <li class="steps-list__item">
      <p class="step-card__content">Добавим в миску с желатином 2ст.ложки холодной воды и сок лимона. Перемешаем и поставим на 30 минут для набухания. Доведем клубничное пюре до кипения. Добавим набухший желатин, перемешаем до полного растворения. Огонь отключаем. Охладим до комнатной температуры.</p>
    </li>
    <li class="steps-list__item">
      <p class="step-card__content">Сверху на застывшие сливки добавим охлажденное клубничное желе. Поставим в холодильник до полного застывания клубничного желе. Готовую панна коту подаем с фруктами.</p>
    </li>
  </ul>
  <div class="recipe-steps__footer">Приятного Аппетита!</div>
</section>
