<section class="recipe-page">
  <a href="" class="link-back">Назад</a>
  <div class="recipe-page__header recipe-header">
    <h1 class="recipe-header__inscription">Клубничная Панна-Котта</h1>
    <div class="recipe-header__btn-container edit-btn-container">
      <button class="edit-btn-container__btn">Опубликовать</button>
    </div>
  </div>
</section>

<recipe-card></recipe-card>
<section class="ingredients-steps-container">
  <div class="ingredients-steps-container__ingredients">
    <ingredients></ingredients>
  </div>
  <div class="ingredients-steps-container__steps">
    <recipe-steps></recipe-steps>
  </div>
</section>
