<section class="day-recipe">
  <div class="day-recipe__content-container main-container">
    <div class="main-container__img"></div>
    <div class="main-container__info recipe-info">
      <div class="recipe-info__statisticks statisticks-block">
        <div class="statisticks-block__section"><span class="like-icon"></span>356</div>
        <div class="statisticks-block__section"><span class="time-icon"></span>35 минут</div>
      </div>
      <div class="recipe-info__icon"></div>
      <h1 class="recipe-info__name">Тыквенный супчик на кокосовом молоке</h1>
      <p class="recipe-info__description">Если у вас осталась тыква, и вы не знаете что с ней сделать, то это решение для вас! Ароматный, согревающий суп-пюре на кокосовом молоке. Можно даже в Пост! </p>
    </div>
  </div>
</section>
