.footer {
  height: 113px;
  background: #FBF9F4;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 0;
}

.footer-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-name {
  margin-right: auto;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #FDB100;
}

.logo-rights {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4A525A;
}
