<section class="recipes-list">
  <ul class="recipes-list__cards recipes-cards">
    <li class="recipes-cards__item card-recipe" [routerLinkActive]="['link-active']">
      <div class="card-recipe__img img-1"></div>
      <div class="card-recipe__content recipe-info">
        <div class="recipe-info__header-container content-header">
          <ul class="content-header__tags-list tags-list">
            <li class="tags-list__item tag-name">десерты</li>
            <li class="tags-list__item tag-name">клубника</li>
            <li class="tags-list__item tag-name">сливки</li>
          </ul>
          <div class="content-header__recipe-likes recipe-likes-container">
            <div class="recipe-likes-container__likes"><span class="star-icon"></span>10</div>
            <div class="recipe-likes-container__likes"><span class="heart-icon"></span> 8</div>
          </div>
        </div>
        <div class="recipe-info__descriprion recipe-description">
          <h1 class="recipe-description__name"><a class="card-recipe__link" [routerLink]="['/recipe-page']">Клубничная Панна-Котта</a></h1>
          <p class="recipe-description__text">Десерт, который невероятно легко и быстро готовится. Советую подавать его порционно в красивых бокалах, украсив взбитыми сливками, свежими ягодами и мятой.</p>
        </div>
        <div class="recipe-info__statistics-container info-statistics">
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon time-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Время приготовления:</p>
              <p class="statistics-description__data">35 мин</p>
            </div>
          </div>
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon persons-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Рецепт на:</p>
              <p class="statistics-description__data">5 персон</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="recipes-cards__item card-recipe">
      <div class="card-recipe__img img-2"></div>
      <div class="card-recipe__content recipe-info">
        <div class="recipe-info__header-container content-header">
          <ul class="content-header__tags-list tags-list">
            <li class="tags-list__item tag-name">вторые блюда</li>
            <li class="tags-list__item tag-name">мясо</li>
            <li class="tags-list__item tag-name">соевый соус</li>
          </ul>
          <div class="content-header__recipe-likes recipe-likes-container">
            <div class="recipe-likes-container__likes"><span class="star-icon"></span>4</div>
            <div class="recipe-likes-container__likes"><span class="heart-icon"></span>7</div>
          </div>
        </div>
        <div class="recipe-info__descriprion recipe-description">
          <h1 class="recipe-description__name"><a class="card-recipe__link" [routerLink]="['/recipe-page']">Мясные Фрикадельки</a></h1>
          <p class="recipe-description__text">Мясные фрикадельки в томатном соусе - несложное и вкусное блюдо, которым можно порадовать своих близких. </p>
        </div>
        <div class="recipe-info__statistics-container info-statistics">
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon time-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Время приготовления:</p>
              <p class="statistics-description__data">90 мин</p>
            </div>
          </div>
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon persons-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Рецепт на:</p>
              <p class="statistics-description__data">4 персоны</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="recipes-cards__item card-recipe">
      <div class="card-recipe__img img-3"></div>
      <div class="card-recipe__content recipe-info">
        <div class="recipe-info__header-container content-header">
          <ul class="content-header__tags-list tags-list">
            <li class="tags-list__item tag-name">десерты</li>
            <li class="tags-list__item tag-name">завтрак</li>
            <li class="tags-list__item tag-name">блины</li>
          </ul>
          <div class="content-header__recipe-likes recipe-likes-container">
            <div class="recipe-likes-container__likes"><span class="star-icon"></span>25</div>
            <div class="recipe-likes-container__likes"><span class="heart-icon red-heart"></span>7</div>
          </div>
        </div>
        <div class="recipe-info__descriprion recipe-description">
          <h1 class="recipe-description__name"><a class="card-recipe__link" [routerLink]="['/recipe-page']">Панкейки</a></h1>
          <p class="recipe-description__text">Панкейки: меньше, чем блины, но больше, чем оладьи. Основное отличие — в тесте, оно должно быть воздушным, чтобы панкейки не растекались по сковородке...</p>
        </div>
        <div class="recipe-info__statistics-container info-statistics">
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon time-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Время приготовления:</p>
              <p class="statistics-description__data">40 мин</p>
            </div>
          </div>
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon persons-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Рецепт на:</p>
              <p class="statistics-description__data">3 персоны</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="recipes-cards__item card-recipe">
      <div class="card-recipe__img img-4"></div>
      <div class="card-recipe__content recipe-info">
        <div class="recipe-info__header-container content-header">
          <ul class="content-header__tags-list tags-list">
            <li class="tags-list__item tag-name">десерты</li>
            <li class="tags-list__item tag-name">вишня</li>
            <li class="tags-list__item tag-name">мороженое</li>
          </ul>
          <div class="content-header__recipe-likes recipe-likes-container">
            <div class="recipe-likes-container__likes"><span class="star-icon"></span>4</div>
            <div class="recipe-likes-container__likes"><span class="heart-icon"></span>7</div>
          </div>
        </div>
        <div class="recipe-info__descriprion recipe-description">
          <h1 class="recipe-description__name"><a class="card-recipe__link" [routerLink]="['/recipe-page']">Полезное Мороженое Без Сахара</a></h1>
          <p class="recipe-description__text">Йогуртовое мороженое сочетает в себе нежный вкус и низкую калорийность, что будет особенно актуально для сладкоежек, соблюдающих диету.</p>
        </div>
        <div class="recipe-info__statistics-container info-statistics">
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon time-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Время приготовления:</p>
              <p class="statistics-description__data">35 мин</p>
            </div>
          </div>
          <div class="info-statistics__section statistics-section">
            <div class="statistics-section__icon persons-icon"></div>
            <div class="statistics-section__description statistics-description">
              <p class="statistics-description__header">Рецепт на:</p>
              <p class="statistics-description__data">2 персоны</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <button class="recipes-list__btn">Загрузить еще</button>
</section>
